.container {
    padding-right: 3em;
    padding-left: 3em;
}

.tree-item summary {
    padding-bottom: 2em;
    cursor: pointer;
}

.tree-item summary:before {
    content: '\1F464';
    padding-right: 2em;
}

.child-view {
    padding-left: 0em;
}

.child-view .tree-item {
    display: flex;
    padding-top: 1.5em;
    padding-bottom: 2em;
    padding-left: 4.5em;
    cursor: pointer;
}

.child-view .tree-item:before {
    content: '\1F464';
    padding-right: 2em;
}

.child-view .tree-item:nth-child(odd) {
    background: #f8f9fb;
}

.filter-view {
    margin-bottom: 2em;
}

.detail-dialog {
    width: 500px;
    overflow: auto;
}

.detail-dialog button {
    float: right;
}


.label-view {
    font-weight: bold;
    width: 40%;
}

.value-view {
    width: 60%
}

.row-view {
    width: 100%;
    display: inline-flex;
}